<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="codeIsin" (sort)="onSort($event)">Code ISIN</th>
    <th scope="col" sortable="descIsin" (sort)="onSort($event)">Desc ISIN</th>
    <th scope="col" sortable="numAvis" (sort)="onSort($event)">Num Avis</th>

    <th scope="col" sortable="numTransaction" (sort)="onSort($event)">Num Transaction</th>
    <th scope="col" sortable="quantite" (sort)="onSort($event)">Quantité</th>
    <th scope="col" sortable="dateComptable" (sort)="onSort($event)">Date comptable</th>
    <th scope="col" sortable="mntNet" (sort)="onSort($event)">Mnt Net</th>
    <th scope="col" sortable="codeAcheteur" (sort)="onSort($event)">Code Acheteur</th>

    <th scope="col" sortable="codeVendeur" (sort)="onSort($event)">Code Vendeur</th>
    <th scope="col" sortable="codeCompteDepot" (sort)="onSort($event)">Code Compte Dépot</th>
    <th scope="col" sortable="type" (sort)="onSort($event)">type</th>
    <th scope="col" sortable="exported" (sort)="onSort($event)">Etat</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let avis of sortedAvis; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ avis.codeIsin }}</td>
    <td>{{ avis.descIsin}}</td>
    <td>{{ avis.numAvis}}</td>
    <td>{{ avis.numTransaction}}</td>
    <td>{{ avis.quantite}}</td>
    <td>{{ avis.dateComptable}}</td>
    <td>{{ avis.mntNet}}</td>
    <td>{{ avis.codeAcheteur}}</td>
    <td>{{ avis.codeVendeur}}</td>
    <td>{{ avis.codeCompteDepot}}</td>
    <td>{{ avis.type}}</td>
    <td>{{ avis.exported}}</td>
  </tr>
  </tbody>
</table>
